.App {
    text-align: center;
    position: relative;
    z-index: 1;
}

.App h2 {
    color: gray;
}

.App header {
    z-index: 2;
}

.header-button {
    background: none;
    font-size: 2em;
    margin: 5px;
    border: none;
    color: royalblue;
    position: relative;
    z-index: 3;
    text-decoration: underline;
    transition: color 1s;
}

.header-button.active {
    text-decoration: none;
    color: #D2042D;
}

.main-text {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
}

.main-text-inner {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 2em;
    border: 2px solid rgba(0, 0, 0, 0.7);
    width: 10rem;
}